{% extends "orders/base.html" %}

{% block content %}
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Currently logged in as: {{ user.user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<h1>Change Information</h1>
{% if message %}
    <div style="color:red">
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'change_info' %}" method="post">
    {% csrf_token %}

    <ul style="list-style: none;">
    <li><label for="email"><b>Email</b></label>
    <input type="text" value={{user.user.email}} name="email"></li>

    <li><label for="psw"><b>Password</b></label>
    <input type="password" value={{user.user.password}} name="psw" ></li>

    <li><label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" value={{user.user.password}} name="password" ></li>

    <li><label for="first_name"><b>First Name</b></label>
    <input type="text" value={{user.user.first_name}} name="first_name" ></li>

    <li><label for="last_name"><b>Last Name</b></label>
    <input type="text" value={{user.user.last_name}} name="last_name" ></li>
    
    <li><label for="phone_number"><b>Phone Number</b></label>
    <input type="text" value={{user.phone_number}} name="phone_number" ></li>

    <li><label for="d_address1"><b>Delivery Address</b></label>
    <input type="text" value="{{user.d_address1}}" name="d_address1" ></li>

    <li><label for="d_address2"><b>Delivery Address (additional)</b></label>
    <input type="text" value="{{user.d_address2}}" name="d_address2"></li>

    <li><label for="d_zip_code"><b>Delivery Zip Code</b></label>
    <input type="text" value={{user.d_zip_code}} name="d_zip_code" ></li>

    <li><label for="d_city"><b>Delivery City</b></label>
    <input type="text" value={{user.d_city}} name="d_city"></li>

    <li><label for="b_address1"><b>Billing Address</b></label>
    <input type="text" value="{{user.b_address1}}" name="b_address1"></li>

    <li><label for="b_address2"><b>Billing Address (additional)</b></label>
    <input type="text" value="{{user.b_address2}}" name="b_address2"></li>

    <li><label for="b_zip_code"><b>Billing Zip Code</b></label>
    <input type="text" value={{user.b_zip_code}} name="b_zip_code"></li>

    <li><label for="b_city"><b>Billing City</b></label>
    <input type="text" value={{user.b_city}} name="b_city"></li>

    <li><input type="submit" name="submit" value="Submit"/>
        <input type="submit" value="Cancel" formaction="{% url 'place_order' %}"></li>
    </ul>
</form>
{% endblock %}
