{% extends "orders/base.html" %}

{% block content %}
{% load static %} <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
<h1><font color="white">Welcome to Pinnochio’s Pizza & Subs</font></h1>
<h3>Login</h3>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text"/>
    <input name="password" type="password"/>
    <input type="submit" value="Login"/>
</form>
<div>
<a href="{% url 'register' %}">Register</a>
</div>
{% endblock %}
