{% extends "orders/base.html" %}

{% block content %}
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Currently logged in as: {{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<h2>Current Order</h2>
    <div id="tablefont">
    <table id="table01">
        <tr>
            <th>Selection</th>
            <th>Subselection</th>
            <th>Size</th>
			<th>Price</th>
        </tr>
        {% for o in order.items.all %}
        <tr>
            <td>{{ o.item.selection }}</td>
            <td>{{ o.item.name }}</td>
			<td>{{ o.item.size }}</td>
			<td>{{ o.item.price|floatformat:2 }}</td>
            <tr>
            {% for t in o.toppings.all %}
             <td>Extra: {{ t.name }}</td>
            </tr>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>        
			<th>Total Price: </th>
            <th>{{order.totalprice|floatformat:2}}</th>
        </tr>
    </table>
    </div>

<h2>Delivery Address & Phone</h2>
    <div>
    <table id="table01">
        <tr> <td> Phone Number: {{order.orderer.phone_number}}  </td> </tr>
        <tr> <td> Address: {{order.orderer.d_address1}} </td> </tr>
        {% if order.orderer.d_address2 %}
        <tr> <td> {{order.orderer.d_address2}} </td> </tr>
        {% endif %}        
        <tr> <td> Zip: {{order.orderer.d_zip_code}} </td> </tr>
        <tr> <td> City: {{order.orderer.d_city}} </td> </tr>
    </table>
    </div>

{% if order.status == "started" %}
    <form action="confirm_order" method="POST">{% csrf_token %}    
    <p><input type="submit" value="Change" name="change" formaction="{% url 'change_info' %}">
    </p>
    </form>
{% endif %}

<h2>Billing Information</h2>
    <div>
    <table id="table01">
        <tr> <td> Address: {{order.orderer.b_address1}} </td> </tr>
        {% if order.orderer.b_address2 %}
        <tr> <td> {{order.orderer.b_address2}} </td> </tr>
        {% endif %}
        <tr> <td> Zip: {{order.orderer.b_zip_code}} </td> </tr>
        <tr> <td> City: {{order.orderer.b_city}} </td> </tr>
    </table>
    </div>

{% if order.status == "started" %}
    <form action="confirm_order" method="POST">{% csrf_token %}    
    <p><input type="submit" value="Change" name="change" formaction="{% url 'change_info' %}">
    </p>
    </form>
{% endif %}

<br>

{% if order.status == "started" %}
    <form action="confirm_order" method="POST">{% csrf_token %}
    <p><input type="submit" value="Confirm Order" formaction="{% url 'confirm_order' %}">
       <input type="submit" value="Cancel" formaction="{% url 'cancel_order' %}">
    </p>
    </form>
{% endif %}

{% if order.status == "confirmed" %}
    <form action="confirm_order" method="POST">{% csrf_token %}
    <p> Your order has been confirmed. Expect delivery between {{btime}} and {{etime}} </p>
    <p><input type="submit" value="Go Back to Cart" formaction="{% url 'cancel_order' %}">
    </p>
    </form>
{% endif %}

{% endblock %}
