{% extends "orders/base.html" %}

{% block content %}
<h1>Registration</h1>
{% if message %}
    <div style="color:red">
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}

    <ul style="list-style: none;">
    <li><label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required></li>

    <li><label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required></li>

    <li><label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required></li>

    <li><label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="password" required></li>

    <li><label for="first_name"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="first_name" required></li>

    <li><label for="last_name"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="last_name" required></li>
    
    <li><label for="phone_number"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Phone Number" name="phone_number" required></li>

    <li><label for="d_address1"><b>Delivery Address</b></label>
    <input type="text" placeholder="Enter Delivery Address" name="d_address1" required></li>

    <li><label for="d_address2"><b>Delivery Address (additional)</b></label>
    <input type="text" placeholder="Enter Delivery Address" name="d_address2"></li>

    <li><label for="d_zip_code"><b>Delivery Zip Code</b></label>
    <input type="text" placeholder="Enter Delivery Zip Code" name="d_zip_code" required></li>

    <li><label for="d_city"><b>Delivery City</b></label>
    <input type="text" placeholder="Enter Delivery City" name="d_city"></li>

    <li><label for="b_address1"><b>Billing Address</b></label>
    <input type="text" placeholder="Enter Billing Address" name="b_address1"></li>

    <li><label for="b_address2"><b>Billing Address (additional)</b></label>
    <input type="text" placeholder="Enter Billing Address" name="b_address2"></li>

    <li><label for="b_zip_code"><b>Billing Zip Code</b></label>
    <input type="text" placeholder="Enter Billing Zip Code" name="b_zip_code"></li>

    <li><label for="b_city"><b>Billing City</b></label>
    <input type="text" placeholder="Enter Billing City" name="b_city"></li>

    <li><input type="submit" value="Submit"/></li>
    </ul>
</form>
{% endblock %}
