{% extends "orders/base.html" %}

{% block content %}
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Currently logged in as: {{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<h2>Add To Cart</h2>

{% if selection %}
     <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Selection<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for item in selection %}
               <li><a href="{% url 'select_selection' selection=item %}">{{ item }}</a></li>
            {% endfor %}
          </ul>
    </div>
{% endif %}

{% if selection|length == 1 %}
{% for item in selection %}
<div>{{ item }}</div>
{% endfor %}
{% endif %}

{% if subselection %}
     <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub-selection<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for item in subselection %}
               <li><a href="{% url 'select_subselection' subselection=item %}">{{ item }}</a></li>
            {% endfor %}
          </ul>
    </div>
{% endif %}

{% if subselection|length == 1 %}
{% for item in subselection %}
<div>{{ item }}</div>
{% endfor %}
{% endif %}

{% if size %}
     <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Size<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for item in size %}
               <li><a href="{% url 'select_size' size=item %}">{{ item }}</a></li>
            {% endfor %}
          </ul>
    </div>
{% endif %}

{% if size|length == 1 %}
{% for item in size %}
<div>{{ item }}</div>
{% endfor %}
{% endif %}

{% if toppings %}
     <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Toppings/Extras<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for item in toppings %}
               <li><a href="{% url 'select_toppings' ptoppings=item %}">{{ item }}</a></li>
            {% endfor %}
          </ul>
    </div>
{% endif %}

{% if ptoppings|length > 0 %}
{% for item in ptoppings %}
<div>{{ item }}</div>
{% endfor %}
{% endif %}

<form action="{% url 'add_to_cart' %}" method="post">
     {% csrf_token %}
     <input type="submit" value="Add to Cart" />
     <input type="submit" value="Reset" formaction="{% url 'reset_button' %}">
</form>

{% if message1 %}
{{message1}}
{% endif %}

<h2>Current Cart</h2>
    <form action="place_order" method="POST">{% csrf_token %}
    <div id="tablefont">
    <table id="table01">
        <tr>
            <th>Selection</th>
            <th>Subselection</th>
            <th>Size</th>
			<th>Price</th>
        </tr>
        {% for c in cart %}
        <tr>
            <td>{{ c.item.selection }}</td>
            <td>{{ c.item.name }}</td>
			<td>{{ c.item.size }}</td>
			<td>{{ c.item.price|floatformat:2 }}</td>
            <td class="center"><input type="checkbox" name="checks[]" value={{ forloop.counter0 }}></td>
            <tr>
            {% for t in c.toppings.all %}
             <td>Extra: {{ t.name }}</td>
            </tr>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    <p><input type="submit" value="Order" formaction="{% url 'place_order' %}">
       <input type="submit" value="Remove from Cart" formaction="{% url 'remove_from_cart' %}">
    </p>
    </form>

{% if message2 %}
{{message2}}
{% endif %}

{% endblock %}
